body{
    background-color: #E5E5E5;
}

#imagen{
    display: inline;
}

h1{
    text-transform: capitalize;
    color: #0A3871;
    display: inline;
}

#imagen-hithub{
    height: 60px;
    height: 60px;
    display: inline;
    margin-left: 50px;
}

#texto{
    margin-left: 20px;
    width: 650px;
    height: 350px;
    text-align: center;
    background-color: #E5E5E5;
    border: none;
}

.texto-primario{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 10px;
    text-transform: capitalize;
}

#ingresar-texto p{
    color: #0A3871;
    font-size: 20px;
    margin-left: 20px;
}

.boton-encriptar{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: #0A3871;
    border: none;
    color: white;
    margin-left: 20px;
}

.boton-desencriptar{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: #E5E5E5;
    color: #0A3871;
    border-color: #0A3871;
    margin-left: 250px;
}

.boton-copiar{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: #E5E5E5;
    color: #0A3871;
    border-color: #0A3871;
    margin-left: 100px;
    margin-top: 220px;
    display: none;
}

.caja-salida{
    width: 400px;
    height: 550px;
    background-color: white;
    margin-left: 800px;
    margin-top: -580px;
    border-color: #0A3871 solid;
    border-radius: 20px;
}

.mostrar-texto{
    font-size: 20px;
    padding: 100px;
    text-align: center;
    text-transform: capitalize;
}

#imagen-secundaria{
    margin-top: 50px;
}

.texto-secudario{
    color: #0A3871;
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    padding: 0 100px;
    font-weight: bold;
}

.texto-secudnario2{
    text-transform: capitalize;
    text-align: center;
    padding: 0 50px;
    font-size: 15px;
    color: #0A3871;
}

/*media*/
@media screen and (max-width: 768px) and (max-height: 1174px){
    #imagen-secundaria{
        display: none;
    }
    .texto-secudario{
        padding: 50px;
    }
    
    .texto-secudnario2{
        margin-top: -70px;
    }
    #ingresar-texto p{
        margin-left: 80px;
    }
    #texto{
        width: 600px;
        height: 650px;
        margin-left: 50px;
    }
    .texto-primario{
        margin-top: 10px;
        margin-left: 80px;
    }
    .boton-encriptar{
        margin-top: -350px;
        margin-left: 80px;
    }
    .caja-salida{
        width: 600px;
        height: 230px;
        background-color: white;
        margin-top: 20px;
        margin-left:50px;
    }
    .mostrar-texto{
        margin-top: -200px;
    }
    .boton-copiar{
        margin-top: -400px;
        width: 400px;
    }
    
}

@media screen and (max-width: 375px) and (max-height: 933px){
    #imagen-hithub{
        margin-left: 250px;
        margin-top: -180px;
    }
    h1{
        display: none;
    }
    .imagen{
        margin-top: 20px;
    }
    #ingresar-texto p{
        margin-left: 50px;
    }
    #texto{
        width: 300px;
        height: 500px;
        margin-left: 20px;
    }
    .boton-encriptar{
        display: block;
        width: 300px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .boton-desencriptar{
        display: block;
        width: 300px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .texto-primario{
        margin-top: 10px;
        margin-left: 20px;
    }
    .caja-salida{
        width: 300px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .texto-secudario{
        padding: 10px;
    }
    .texto-secudnario2{
        margin-top: -10px;
    }
    .mostrar-texto{
        margin-top: -100px;
    }
    .boton-copiar{
        margin-top: -400px;
        margin-left: 25px;
        width: 250px;
    }
    .div-scroll{
        overflow-y: scroll;
    }
}

